* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1;
  outline: none;
}

body {
  overflow-x: hidden;
  font-family: "Tenor Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

ul,
li {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

a:hover {
  text-decoration: none;
  color: #ffb732;
}

button {
  outline: none !important;
}

/* preloader */

.preloader {
  background: white;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
}

.preloader span {
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  position: absolute;
  top: 50%;
}

.arrow-anchor {
  -webkit-transition: .5s;
  transition: .5s;
  z-index: -1;
  opacity: 0;
  display: block;
  position: fixed;
  width: 40px;
  height: 40px;
  background: rgba(185, 186, 187, 0.7) url("../img/arrow-top.svg") center center no-repeat;
  background-size: 50%;
  border-radius: 50px;
  top: 85vh;
  right: 5vw;
  -webkit-box-shadow: .2px .2px 10px #fff;
  box-shadow: .2px .2px 10px #fff;
}

.arrow-anchor-active {
  z-index: 100;
  opacity: 1;
}

.arrow-anchor:hover {
  background: rgba(255, 183, 50, 0.7) url("../img/arrow-top-active.svg") center center no-repeat;
  background-size: 50%;
}

.section-btn {
  display: inline-block;
  padding: 12px 30px;
  border: 1px solid #fff;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

.section-btn::before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 35px;
  background: #fff;
  bottom: 0;
  left: 10px;
  -webkit-transform: translateY(35px);
  transform: translateY(35px);
  -webkit-transition: .5s;
  transition: .5s;
}

.section-btn::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 35px;
  background: #fff;
  top: 0;
  right: 10px;
  -webkit-transform: translateY(-35px);
  transform: translateY(-35px);
  -webkit-transition: .7s;
  transition: .7s;
}

.section-btn:hover {
  background: rgba(255, 255, 255, 0.2);
  border-color: #ffb732;
  text-shadow: 1px 1px 5px #000;
  -webkit-box-shadow: 1px 1px 10px #000;
  box-shadow: 1px 1px 10px #000;
}

.section-btn:hover::before {
  -webkit-transform: translateY(12px);
  transform: translateY(12px);
  background: #ffb732;
}

.section-btn:hover::after {
  -webkit-transform: translateY(-12px);
  transform: translateY(-12px);
  background: #ffb732;
}

.section-header {
  text-align: center;
  padding: 60px 0;
  margin: 0 auto;
  width: 70%;
}

.section-title {
  margin-top: 20px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 14px;
  position: relative;
  z-index: 1;
}

.section-title::before {
  content: "";
  display: block;
  width: 20px;
  height: 70px;
  position: absolute;
  top: -10px;
  bottom: 0;
  left: 215px;
  background: url("../img/left-square-bracket.png") center center no-repeat;
  background-size: cover;
}

.section-title::after {
  content: "";
  display: block;
  width: 20px;
  height: 70px;
  position: absolute;
  top: -10px;
  bottom: 0;
  right: 215px;
  background: url("../img/right-square-bracket.png") center center no-repeat;
  background-size: cover;
}

.section-subtitle {
  font-size: 18px;
  z-index: 1;
}

.header {
  color: #fff;
  position: relative;
  padding: 50px 0;
  height: 110vh;
}

.header-bg__slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-bg__slider-item {
  width: 100vw;
  height: 110vh;
}

.header-bg__slider-item::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.77) 50%, black 100%);
}

.header-bg__slider-item-1 {
  background: url("../img/header/header-bg-1.jpg") center center no-repeat;
  background-size: cover;
}

.header-bg__slider-item-2 {
  background: url("../img/header/header-bg-2.jpg") center center no-repeat;
  background-size: cover;
}

.header-bg__slider-item-3 {
  background: url("../img/header/header-bg-3.jpg") center center no-repeat;
  background-size: cover;
}

.header-top {
  margin-bottom: 10px;
}

.header-top__address-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top__address-link i {
  display: inline-block;
  font-size: 18px;
  margin-right: 10px;
}

.header-top__address-link-text {
  display: inline-block;
  line-height: 1.4;
}

.header-top__email {
  padding-left: 20px;
}

.header-top__email-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top__email-link i {
  font-size: 18px;
  margin-right: 10px;
}

.header-top__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top__lang-item {
  display: block;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.header-top__lang-ua {
  background: url("../img/ukraine.svg") center center no-repeat;
  margin-right: 12px;
}

.header-top__lang-ru {
  background: url("../img/russia.svg") center center no-repeat;
}

.header-top__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header-top__phone i {
  font-size: 20px;
  margin-right: 10px;
}

.header-top__phone-link {
  display: block;
  margin-bottom: 10px;
}

.header-menu {
  margin-bottom: 30px;
  position: relative;
}

.header-menu__burger {
  background: url("../img/header/burger.svg") center center no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  position: relative;
}

.header-menu__burger:hover {
  background: url("../img/header/burger-active.svg") center center no-repeat;
  background-size: cover;
}

.header-menu__burger-active {
  background: url("../img/header/burger-active.svg") center center no-repeat;
  background-size: cover;
}

.header-menu__burger-close {
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  z-index: -1;
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/header/burger-close.svg") center center no-repeat;
  background-size: cover;
  background-size: 12px;
  position: absolute;
  right: -20px;
  top: 0;
}

.header-menu__burger-close-active {
  opacity: 1;
  z-index: 99;
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  margin-top: 12px;
  opacity: 0;
  -webkit-transition: .7s;
  transition: .7s;
  z-index: -1;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  padding: 10px 20px;
}

.header-menu__list-active {
  opacity: 1;
  z-index: 99;
}

.header-menu__item {
  overflow-x: hidden;
  margin-bottom: 8px;
}

.header-menu__link {
  text-transform: uppercase;
  font-size: 13px;
  display: inline-block;
  position: relative;
  padding: 8px 0px 4px 0px;
  -webkit-transition: .3s;
  transition: .3s;
}

.header-menu__link::after {
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  border-top: 1px dotted #ffb732;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: .3s;
  transition: .3s;
}

.header-menu__link:hover::after {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.header-btn {
  text-align: right;
}

.header-middle {
  text-align: center;
}

.header-middle__logo {
  max-width: 110px;
}

.header-middle__title {
  font-family: "Patua One";
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-top: 15px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.header-middle__title-sub {
  font-size: 40px;
  margin: 20px 0 15px;
  letter-spacing: 5px;
  text-transform: uppercase;
  display: block;
}

.header-middle__subtitle {
  font-size: 20px;
}

.header-quote {
  margin-top: 120px;
}

.header-quote__text {
  font-size: 18px;
  font-style: italic;
  font-family: "Patua One";
}

.header-quote__author {
  display: block;
  margin-top: 15px;
}

.about {
  background: #f3eee9;
  -webkit-box-shadow: .5px .5px 10px #f3eee9;
  box-shadow: .5px .5px 10px #f3eee9;
  position: relative;
  z-index: 1;
  padding-bottom: 100px;
}

.about-header {
  background: #f3eee9;
  margin-top: -30px;
  -webkit-box-shadow: .5px .5px 10px #f3eee9;
  box-shadow: .5px .5px 10px #f3eee9;
}

.about-photo__img {
  width: 100%;
}

.services {
  -webkit-box-shadow: 0.5px 0.5px 10px #ffb732;
  box-shadow: 0.5px 0.5px 10px #ffb732;
  color: #313133;
  background: #fff;
  position: relative;
  z-index: 1;
  padding-bottom: 100px;
}

.services-content {
  position: relative;
  height: 600px;
  background: url("../img/services/services-img.jpg") top left no-repeat;
  background-size: 54%;
}

.services-content::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.4);
}

.services-content__btn {
  position: absolute;
  bottom: 0;
  right: 115px;
  background: transparent;
  border: 1px solid #313133;
  cursor: pointer;
}

.services-content__btn:hover {
  text-shadow: 1px 1px 5px #fff;
  background: #f6f6f1;
  color: #ffb732;
  -webkit-box-shadow: 1px 1px 10px #fff;
  box-shadow: 1px 1px 10px #fff;
}

.services-content__btn:hover i {
  color: #ffb732;
}

.services-content__btn i {
  font-size: 18px;
  margin-right: 10px;
}

.services-item {
  width: 40%;
  height: 440px;
  padding: 55px 80px 30px;
  border: 2px solid #313133;
  position: absolute;
  top: 80px;
  right: 130px;
  text-align: center;
}

.services-item::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -27px;
  right: 50%;
  margin-right: -25px;
  background: #313133;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.services-item__title {
  font-weight: 700;
  font-size: 26px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: #ffb732;
}

.services-item__title::after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-right: -50px;
  background: rgba(49, 49, 51, 0.5);
}

.services-item__text {
  line-height: 1.2;
}

.services-item__link {
  color: #313133;
  text-decoration: underline;
  position: relative;
  font-weight: 700;
}

.services-item__link:hover {
  color: #ffb732;
  text-decoration: underline;
}

.services-item__link-active {
  letter-spacing: 1.5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ffb732;
}

.services-item-slider__arrow {
  color: #313133;
  font-size: 36px;
  position: absolute;
  top: 55px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.services-item-slider__arrow:hover {
  color: #ffb732;
}

.services-item-slider__arrow-left {
  left: 30px;
}

.services-item-slider__arrow-right {
  right: 30px;
}

.services-item__wrap-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  cursor: pointer;
}

.features {
  padding: 0 0 100px;
  border-top: 1px solid #ffb732;
  -webkit-box-shadow: 0.5px 0.5px 10px #ffb732;
  box-shadow: 0.5px 0.5px 10px #ffb732;
  position: relative;
}

.features::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -15.5px;
  right: 15%;
  background: #ffb732;
  -webkit-box-shadow: 0.5px 0.5px 10px #ffb732;
  box-shadow: 0.5px 0.5px 10px #ffb732;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.features-title::after {
  right: 185px;
}

.features-title::before {
  left: 185px;
}

.features-left {
  background: url("../img/features/features-bg.jpg") center center no-repeat;
  height: 100%;
  background-size: cover;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.features-left::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.features-left__content {
  z-index: 1;
  border: 2px solid #fff;
  padding: 50px 30px;
  width: 75%;
}

.features-left__content::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  right: 44px;
  margin-top: -25px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.features-left__title {
  font-family: "Patua One";
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.features-left__title span {
  font-family: "Tenor Sans", sans-serif;
}

.features-left__subtitle {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.4;
}

.features-right {
  height: 100%;
  padding-left: 30px;
}

.features-right__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.features-right__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px 0;
}

.features-right__item i {
  font-size: 40px;
  color: #ffb732;
  margin-right: 20px;
}

.features-right__item-title {
  color: #ffb732;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.features-right__item-subtitle {
  color: #313133;
  font-size: 14px;
  line-height: 1.2;
}

.features-right__icon {
  width: 45px;
  margin-right: 20px;
}

.scheme {
  padding-bottom: 40px;
  background: url("../img/scheme/scheme-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  position: relative;
}

.scheme::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.scheme-title {
  color: #fff;
}

.scheme-title::after {
  right: 230px;
  background: url("../img/right-square-bracket-white.png") center center no-repeat;
  background-size: cover;
}

.scheme-title::before {
  left: 230px;
  background: url("../img/left-square-bracket-white.png") center center no-repeat;
  background-size: cover;
}

.scheme-item {
  margin-bottom: 60px;
}

.scheme-item__icon {
  position: relative;
  border: 1px solid #d8d8d8;
  width: 40%;
  height: 100px;
  margin: 0 auto 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.scheme-item__icon-img {
  display: block;
  width: 40px;
  height: 40px;
}

.scheme-item__icon-img-1 {
  background: url("../img/scheme/scheme-icon-1.svg") center center no-repeat;
  background-size: cover;
}

.scheme-item__icon-img-2 {
  background: url("../img/scheme/scheme-icon-2.svg") center center no-repeat;
  background-size: cover;
  width: 45px;
}

.scheme-item__icon-img-3 {
  background: url("../img/scheme/scheme-icon-3.svg") center center no-repeat;
  background-size: cover;
  width: 45px;
}

.scheme-item__icon-img-4 {
  background: url("../img/scheme/scheme-icon-4.svg") center center no-repeat;
  background-size: cover;
  width: 40px;
}

.scheme-item__icon-img-5 {
  background: url("../img/scheme/scheme-icon-5.svg") center center no-repeat;
  background-size: cover;
  width: 45px;
}

.scheme-item__icon-img-6 {
  background: url("../img/scheme/scheme-icon-6.svg") center center no-repeat;
  background-size: cover;
}

.scheme-item__number {
  border: 1px solid #d8d8d8;
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  margin-top: -18px;
  right: -18.1px;
  background: #fff;
  -webkit-box-shadow: .2px .2px 5px #fff;
  box-shadow: .2px .2px 5px #fff;
}

.scheme-item__number span {
  display: block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  font-size: 18px;
  color: #ffb732;
}

.scheme-item__text {
  padding: 0 15px;
}

.scheme-item__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: #ffb732;
  margin-bottom: 15px;
  text-align: center;
}

.scheme-item__subtitle {
  line-height: 1.2;
  color: #fff;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.scheme-item__subtitle-link {
  color: #ffb732;
  cursor: pointer;
  font-weight: bold;
}

.pricing {
  padding-bottom: 50px;
  background: #f3eee9;
  border-top: 1px solid #ffb732;
  -webkit-box-shadow: 0.5px 0.5px 10px #ffb732;
  box-shadow: 0.5px 0.5px 10px #ffb732;
  position: relative;
  z-index: 1;
}

.pricing::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -15.5px;
  right: 75%;
  background: #ffb732;
  -webkit-box-shadow: 0.5px 0.5px 10px #ffb732;
  box-shadow: 0.5px 0.5px 10px #ffb732;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.pricing-title::before {
  left: 205px;
}

.pricing-title::after {
  right: 205px;
}

.pricing-category__title {
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 17px;
  text-decoration: underline;
}

.pricing-category__item {
  width: 90%;
  padding: 40px;
  background: #fff;
  border-radius: 3px;
  margin-bottom: 50px;
  -webkit-box-shadow: .5px .5px 20px #cccccc;
  box-shadow: .5px .5px 20px #cccccc;
}

.pricing-category__item-desc {
  line-height: 1.2;
  color: #666;
  height: 60px;
}

.pricing-category__item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pricing-category__item-price {
  color: #ffb732;
  font-weight: 700;
  font-size: 16px;
}

.pricing-category__item-btn {
  background: #666;
  color: #fff;
  cursor: pointer;
}

.pricing-category__item-btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #ffb732;
  text-shadow: 1px 1px 5px #fff;
  background: #f6f6f1;
}

.pricing-category__item-more {
  margin-top: 20px;
  display: inline-block;
  cursor: pointer;
}

.pricing-category__item-more i {
  font-size: 18px;
}

.pricing-category__item-more:hover i {
  color: #ffb732;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: .7s;
  transition: .7s;
}

.documents {
  padding-bottom: 80px;
  border-top: 1px solid #ffb732;
  -webkit-box-shadow: 0.5px 0.5px 10px #ffb732;
  box-shadow: 0.5px 0.5px 10px #ffb732;
  position: relative;
}

.documents::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -15.5px;
  right: 15%;
  background: #ffb732;
  -webkit-box-shadow: 0.5px 0.5px 10px #ffb732;
  box-shadow: 0.5px 0.5px 10px #ffb732;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.documents-title::before {
  left: 165px;
}

.documents-title::after {
  right: 165px;
}

.documents-slider {
  position: relative;
  padding-bottom: 50px;
}

.documents-slider__item {
  border-radius: 5px;
  background: #f3eee9;
  height: 500px;
  margin: 0 20px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px;
}

.documents-slider__img {
  display: block;
  border-radius: 5px;
  max-width: 100%;
  max-height: 100%;
  -webkit-box-shadow: .2px .2px 20px #8b8c8e;
  box-shadow: .2px .2px 20px #8b8c8e;
}

.documents-slider__arrow {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.documents-slider__arrow-right {
  width: 30px;
  height: 30px;
  right: 20px;
  background: url("../img/documents/arrow-right.svg") center center no-repeat;
  background-size: cover;
}

.documents-slider__arrow-right:hover {
  background: url("../img/documents/arrow-right-active.svg") center center no-repeat;
  background-size: cover;
}

.documents-slider__arrow-left {
  width: 30px;
  height: 30px;
  left: 20px;
  background: url("../img/documents/arrow-left.svg") center center no-repeat;
  background-size: cover;
}

.documents-slider__arrow-left:hover {
  background: url("../img/documents/arrow-left-active.svg") center center no-repeat;
  background-size: cover;
}

.questions {
  padding-bottom: 100px;
  position: relative;
  background: url("../img/questions/questions-bg.jpg") center center no-repeat;
  -webkit-box-shadow: 0.5px 0.5px 10px #ffb732;
  box-shadow: 0.5px 0.5px 10px #ffb732;
  overflow: hidden;
}

.questions::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -110px;
  bottom: 0;
  left: -110px;
  background: rgba(0, 0, 0, 0.65);
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  -webkit-box-shadow: .5px .5px 20px #000;
  box-shadow: .5px .5px 20px #000;
}

.questions-title {
  color: #fff;
}

.questions-title::after {
  right: 130px;
  background: url("../img/right-square-bracket-white.png") center center no-repeat;
  background-size: cover;
}

.questions-title::before {
  left: 130px;
  background: url("../img/left-square-bracket-white.png") center center no-repeat;
  background-size: cover;
}

.questions-subtitle {
  color: #fff;
}

.questions-list {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  border-bottom: 1px solid #d8d8d8;
}

.questions-item {
  text-transform: uppercase;
  font-size: 17px;
  border-top: 1px solid #d8d8d8;
  padding: 15px 0;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  position: relative;
  vertical-align: middle;
}

.questions-item:hover {
  color: #ffb732;
}

.questions-item:hover .questions-arrow-down {
  opacity: 1;
}

.questions-item-active {
  color: #ffb732;
}

.questions-item-active .questions-arrow-down {
  opacity: 1;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.questions-arrow {
  position: absolute;
  right: 50px;
  font-size: 20px;
  -webkit-transition: .5s;
  transition: .5s;
  color: #ffb732;
}

.questions-arrow-down {
  opacity: 0;
}

.questions-answer {
  display: none;
  padding-bottom: 15px;
  line-height: 1.2;
  text-align: left;
}

.feedback {
  background: #171a1d;
  color: #666;
  padding-bottom: 50px;
}

.feedback-title {
  color: #fff;
}

.feedback-title::after {
  right: 195px;
  background-image: url("../img/right-square-bracket-white.png");
}

.feedback-title::before {
  left: 195px;
  background-image: url("../img/left-square-bracket-white.png");
}

.feedback-subtitle {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2;
  font-size: 14px;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.feedback-input,
.feedback-textarea {
  color: #ffb732;
  border: none;
  border-bottom: 1px solid #666;
  background: transparent;
  padding: 8px 0;
}

.feedback-input::-webkit-input-placeholder,
.feedback-textarea::-webkit-input-placeholder {
  color: #ffb732;
  font-size: 14px;
  font-family: "Tenor Sans", sans-serif;
}

.feedback-input:-ms-input-placeholder,
.feedback-textarea:-ms-input-placeholder {
  color: #ffb732;
  font-size: 14px;
  font-family: "Tenor Sans", sans-serif;
}

.feedback-input::-ms-input-placeholder,
.feedback-textarea::-ms-input-placeholder {
  color: #ffb732;
  font-size: 14px;
  font-family: "Tenor Sans", sans-serif;
}

.feedback-input::placeholder,
.feedback-textarea::placeholder {
  color: #ffb732;
  font-size: 14px;
  font-family: "Tenor Sans", sans-serif;
}

.feedback-input {
  margin-bottom: 30px;
}

.feedback-textarea {
  height: 100px;
  resize: none;
  border: 1px solid #666;
  margin: 30px 0;
  padding: 10px;
}

.feedback-btn {
  background: transparent;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border-color: #666;
  margin: 5px auto 0;
}

.feedback-map iframe {
  width: 100%;
  height: 400px;
}

.footer {
  background: #171a1d;
  color: #666;
  padding: 70px 0;
  font-size: 14px;
}

.footer-container {
  padding-top: 70px;
  padding-bottom: 20px;
  padding: 70px 0 20px 40px;
  position: relative;
  -webkit-box-shadow: 0.5px 0.5px 10px #ffb732;
  box-shadow: 0.5px 0.5px 10px #ffb732;
}

.footer-container::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -15.5px;
  right: 65%;
  background: #ffb732;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-shadow: 0.5px 0.5px 10px #ffb732;
  box-shadow: 0.5px 0.5px 10px #ffb732;
}

.footer-about__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-about__title {
  text-transform: uppercase;
  font-family: "Patua One";
  font-size: 26px;
  letter-spacing: 1px;
  color: #ffb732;
}

.footer-about__subtitle {
  color: #fff;
  font-size: 18px;
}

.footer-about__logo {
  width: 25%;
  margin-right: 30px;
}

.footer-about__categories {
  margin-top: 36px;
  line-height: 1.6;
  font-size: 14px;
}

.footer-contacts__title {
  font-size: 16px;
  margin-bottom: 20px;
}

.footer-contacts__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-contacts__icon-mobile,
.footer-contacts__icon-email,
.footer-contacts__icon-marker {
  color: #ffb732;
  font-size: 18px;
}

.footer-contacts__icon-email,
.footer-contacts__icon-marker {
  font-size: 16px;
  margin-right: 6px;
}

.footer-contacts__icon-marker {
  margin-right: 12px;
}

.footer-contacts__item {
  margin-bottom: 18px;
}

.footer-contacts__item-number {
  margin-left: 15px;
  margin-bottom: 10px;
}

.footer-contacts__item-email,
.footer-contacts__item-address {
  margin: 10px 0;
}

.footer-contacts__link {
  color: #666;
}

.footer-contacts__link-social {
  color: #666;
  font-size: 20px;
  margin: 10px 10px 0 0;
  display: inline-block;
}

.footer-contacts__link-social:hover {
  color: #ffb732;
}

.footer-timetable__title {
  font-size: 16px;
  margin-bottom: 20px;
}

.footer-timetable__info {
  margin-bottom: 15px;
}

.footer-menu__list-title {
  margin-bottom: 20px;
  font-size: 16px;
}

.footer-menu__item {
  margin-bottom: 15px;
}

.footer-menu__link {
  border-bottom: 1px dotted #ffb732;
  color: #666;
}

/* modal-window-general================================================*/

.modal-shadow {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.modal-window {
  background: #171a1d;
  position: absolute;
  top: 50vh;
  margin-top: -203px;
  right: 50vw;
  margin-right: -300px;
  padding: 40px 50px;
  width: 600px;
}

.modal-window-after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -96px;
}

.modal-window__title {
  color: #fff;
  text-align: center;
  font-size: 22px;
  margin-bottom: 40px;
}

.modal-window__title-after {
  margin: 15px 0;
}

.modal-window__input,
.modal-window__textarea {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #666;
  display: block;
  margin: 15px auto;
  color: #ffb732;
  padding: 8px 0;
  font-size: 14px;
  resize: none;
}

.modal-window__input::-webkit-input-placeholder,
.modal-window__textarea::-webkit-input-placeholder {
  color: #ffb732;
}

.modal-window__input:-ms-input-placeholder,
.modal-window__textarea:-ms-input-placeholder {
  color: #ffb732;
}

.modal-window__input::-ms-input-placeholder,
.modal-window__textarea::-ms-input-placeholder {
  color: #ffb732;
}

.modal-window__input::placeholder,
.modal-window__textarea::placeholder {
  color: #ffb732;
}

.modal-window__textarea {
  resize: none;
  border: 1px solid #666;
  margin-top: 40px;
  padding: 15px;
}

.modal-window__textarea::-webkit-input-placeholder {
  color: #ffb732;
}

.modal-window__textarea:-ms-input-placeholder {
  color: #ffb732;
}

.modal-window__textarea::-ms-input-placeholder {
  color: #ffb732;
}

.modal-window__textarea::placeholder {
  color: #ffb732;
}

.modal-window__btn {
  display: block;
  margin: 40px auto 0;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 30px;
  border: 1px solid #ffb732;
  font-size: 13px;
  cursor: pointer;
}

.modal-window__close {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: url("../img/modal/modal-close.png") center top no-repeat;
  background-size: cover;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.modal-window__close:hover {
  background-position: center bottom;
}

.modal-problem {
  margin-top: -277px;
}

.modal-order {
  margin-top: -179px;
}

/* modal-description-window================================================*/

.modal-description__shadow,
.modal-services__shadow {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.modal-description__window,
.modal-services__window {
  background: #fff;
  width: 70%;
  margin: 100px auto;
  border-radius: 3px;
  padding: 50px 60px;
  position: relative;
}

.modal-description__title,
.modal-services__title {
  text-align: center;
  width: 70%;
  margin: 0 auto 30px;
}

.modal-description__text,
.modal-services__text {
  color: #666;
  text-align: justify;
}

.modal-description__text p,
.modal-services__text p {
  line-height: 1.3;
}

.modal-description__btn,
.modal-services__btn {
  background: #666;
  color: #fff;
  cursor: pointer;
  margin: 30px auto 0;
  display: block;
  padding-right: 70px;
  padding-left: 70px;
}

.modal-description__btn:hover,
.modal-services__btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #ffb732;
  text-shadow: 1px 1px 5px #fff;
  background: #f6f6f1;
}